/* PurBeurre\static\css\creative.css */

/* header myaccount */
header.accounthead {
  padding-top: 10rem; /* margin-top: 100px */
  padding-bottom: calc(10rem - 56px);
  background-image: url("../img/account.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-position: center center;
  /*-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; */ 
  background-size: cover;
}

header.accounthead hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

header.accounthead h1 {
  font-size: 2rem;
  color: #C45525;
  text-shadow: 2px 2px #212529;
}

header.accounthead p {
  font-weight: 300;
  color: #C45525;
  text-shadow: 2px 2px #212529;
}

@media (min-width: 768px) {
  header.accounthead p {
    font-size: 2rem;
    color: #C45525;
    text-shadow: 2px 2px #212529;
  }
}

@media (min-width: 992px) {
  header.accounthead {
    /*height: 100vh;*/
    min-height: 650px;
  }
  header.accounthead h1 {
    font-size: 3rem;
  }
}

@media (min-width: 1200px) {
  header.accounthead h1 {
    font-size: 3rem;
  }
}

/* header product_select */
header.product_selecthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 56px);
  background-image: url("../img/product_select.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header.product_selecthead hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

header.product_selecthead h1 {
  font-size: 2rem;
  color: #C45525;
  text-shadow: 2px 2px #212529;
}

header.product_selecthead p {
  font-weight: 300;
  color: #C45525;
  text-shadow: 2px 2px #212529;
}

@media (min-width: 768px) {
  header.product_selecthead p {
    font-size: 2rem;
    color: #C45525;
    text-shadow: 2px 2px #212529;
  }
}

@media (min-width: 992px) {
  header.product_selecthead {
    /*height: 100vh;*/
    min-height: 650px;
  }
  header.product_selecthead h1 {
    font-size: 3rem;
  }
}

@media (min-width: 1200px) {
  header.product_selecthead h1 {
    font-size: 3rem;
  }
}

/* header results */
header.resultshead {
  padding-top: 10rem; /* margin-top: 100px */
  padding-bottom: calc(10rem - 56px);
  background-image: url("../img/results.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-position: center center;
  /*-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; */ 
  background-size: cover;
}

header.resultshead hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

header.resultshead h1 {
  font-size: 2rem;
  color: #C45525;
  text-shadow: 2px 2px #212529;
}

header.resultshead p {
  font-weight: 300;
  color: #C45525;
  text-shadow: 2px 2px #212529;
}

@media (min-width: 768px) {
  header.resultshead p {
    font-size: 2rem;
    color: #C45525;
    text-shadow: 2px 2px #212529;
  }
}

@media (min-width: 992px) {
  header.resultshead {
    /*height: 100vh;*/
    min-height: 650px;
  }
  header.resultshead h1 {
    font-size: 3rem;
  }
}

@media (min-width: 1200px) {
  header.resultshead h1 {
    font-size: 3rem;
  }
}

/* product_select */
.not_found_message {
  margin-top: 2em;
  color: darkslategray;
  font-size: 2em;
}